-----
This is a sample of the field required in the developer's .env file.
The characters in capitals letters are the required environment variables.
The values to these fields have been intentionally left balck so that developers can customarily fill
them to suit their needs during development. It should however be noted that the values used by the developers
during development don't necessarily have to match with the values the application will use in production 
-----

DATABASE_NAME=
DATABSE_USER=
DATABASE_PASSWORD=
SECRET_KEY=